# ========================================================================== #
#                                                                            #
#    KVMD - The main PiKVM daemon.                                           #
#                                                                            #
#    Copyright (C) 2018-2021  Maxim Devaev <mdevaev@gmail.com>               #
#                                                                            #
# ========================================================================== #

[Unit]
Description=PiKVM - The main daemon
After=network.target
Requires=kvmd-live777.service
After=kvmd-live777.service

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/kvmd --run
User=kvmd

[Install]
WantedBy=multi-user.target
